

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
}

.item {
    border: 2px solid blue;
    list-style: none;
    align-content: center;
    padding: 15px;
 }

 #apple {
     grid-row: 1 / 3 ;
    grid-column: 3 / 4;
}

body {
    display: grid;
    grid-template-areas: 
    "header nav"
    "sidebar main"
    "sidebar footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 5fr 1fr;
    border: 5px solid;
}

 header {
    grid-area: header;
    border: 5px solid;
 }

 nav {
    grid-area: nav;
    border: 5px solid;
 }

 #aside {
    grid-area: aside;
    border: 5px solid;
 }

 main {
    grid-area: main;
    border: 5px solid;
 }

 footer {
    grid-area: footer;
    border: 5px solid;
 }